<h1>Registration Page</h1>

<form method="POST" action="/register ">
    <div>
        <label>Email: </label>
    </div>
    <div>
        <input type="email" name="email">
    </div>

    <div>
        <lable>Password</lable>
    </div>
    <div>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value ="save data">
    </div>

</form>